<div class="contact-fullscreen">
  <div class="contact-container">
    <div class="form-box">
      <h2>Get in Touch</h2>
      <form>
        <div class="row">
          <input type="text" placeholder="First Name" required />
          <input type="text" placeholder="Last Name" required />
        </div>
        <input type="email" placeholder="Email" required />
        <input type="text" placeholder="Subject" />
        <textarea placeholder="Tell us about the problem" rows="5"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="contact-info">
      <h2>Contact Us</h2>
      <div class="info-item">
        <div class="img-circle"> <img src="/assets/layout/email-profile.png" alt="Email" /></div>

        <a href="mailto:User@gmail.com">User&#64;gmail.com</a>
      </div>
      <div class="info-item">
        <div class="img-circle"><img src="/assets/layout/phone-profile.png" alt="Phone" /></div>

        <span>+962 XXX XXXX XX</span>
      </div>
    </div>
  </div>
</div>