<!-- Join Us Section -->
<section class="join-us">
  <h2 class="test">Make An Appointment</h2>
  <div class="join-content">
    <div class="join-text">
      <p>Schedule your visit with ease. Our online appointment system allows you to choose a time that fits your
        schedule. Whether you're booking a routine checkup or a consultation, we're here to provide you with timely,
        professional care</p>
      <button class="join-btn" routerLink="registration">Book now</button>
    </div>
    <div class="join-image">
      <img src="/assets/doctors.png" alt="Team of Doctors" class="test">
    </div>
  </div>

</section>

<section class="specialty-section">
  <h1>Our Specialty</h1>
  <div class="specialty-grid">
    <div class="specialty-card">
      <h2>Dental Clinic</h2>
      <ul>
        <li>Orthodontics (braces and teeth alignment)</li>
        <li>Prosthodontics (crowns, bridges, dentures)</li>
        <li>Periodontics (gum disease treatment)</li>
        <li>Endodontics (root canal therapy)</li>
        <li>Pediatric Dentistry (dental care for children)</li>
        <li>Oral Surgery (tooth extraction, minor surgeries)</li>
      </ul>
    </div>

    <div class="specialty-card">
      <h2>Pediatrics Clinic</h2>
      <ul>
        <li>Neonatology (care for newborns and premature babies)</li>
        <li>Pediatric Cardiology (heart care for children)</li>
        <li>Pediatric Neurology (brain and nervous system care)</li>
        <li>Pediatric Infectious Disease (treatment of infections)</li>
        <li>Pediatric Allergy and Immunology (allergies and immune system care)</li>
        <li>Pediatric Endocrinology (hormonal issues like growth or diabetes)</li>
      </ul>
    </div>


  </div>

  <div class="specialty-grid">

    <div class="specialty-card">
      <h2>Birthing Center</h2>
      <ul>
        <li>Obstetrics (pregnancy and childbirth care)</li>
        <li>Midwifery (natural childbirth support)</li>
        <li>Maternal-Fetal Medicine (high-risk pregnancy management)</li>
        <li>Neonatal Care (care for newborns immediately after birth)</li>
        <li>Lactation Consultation (breastfeeding support)</li>
        <li>Prenatal Education Specialists (classes and preparation for childbirth)</li>
      </ul>
    </div>

    <div class="specialty-card">
      <h2>Physical Therapy Clinic</h2>
      <ul>
        <li>Orthopedic Physical Therapy (injuries to bones, joints, muscles)</li>
        <li>Neurological Physical Therapy (stroke, spinal cord injury recovery)</li>
        <li>Sports Rehabilitation (sports injury recovery and prevention)</li>
        <li>Pediatric Physical Therapy (children's motor development)</li>
        <li>Geriatric Physical Therapy (helping seniors maintain mobility)</li>
        <li>Cardiopulmonary Physical Therapy (heart and lung conditions)</li>
      </ul>
    </div>
  </div>
</section>