<!-- Footer -->
<footer class="footer">
  <div class="newsletter">
    <p>Subscribe To Our Newsletter</p>
    <input type="email" placeholder="Enter your email" />
    <button>Subscribe</button>
    <div class="copy-right">
      Trusted care, every step of the way. © 2025 Alamal Medical Clinics
    </div>
  </div>
  <div class="socials">
    <p class="our-social">Our Social</p>
    <div class="icons">
      <a href="#"><img src="/assets/layout/facebook.png"></a>
      <a href="#"><img src="/assets/layout/twitter.png"></a>
      <a href="#"><img src="/assets/layout/youtube.png"></a>
      <a href="#"><img src="/assets/layout/instagram.png"></a>
    </div>
  </div>
  <div class="contact">
    <p class="contact-us">Contact Us</p>
    <div class="contact-data">
      <p><img src="/assets/layout/email.png"> contact&#64;gmail.com</p>
      <p><img src="/assets/layout/phone.png"> +962-791250421</p>
      <p><img src="/assets/layout/location.png">Amman, Jordan</p>
    </div>
  </div>
  <div class="footer-logo"><img src="/assets/logo.png" style="height: 67px;"></div>
</footer>