<div class="breadcrumb-container">
  <h2 class="page-title">Patients Lists</h2>
  <hr class="underline" />
</div>

<div class="filters">
  <div class="search-container">
    <label for="searchNameInput">Patient Name</label>
    <input type="text" id="searchNameInput" placeholder="Search by patient name" [(ngModel)]="searchText" />
    <div>
      <span class="search-icon">
        <i class="fas fa-search" style="color: #389d93;"></i>
      </span>
    </div>
  </div>
</div>

<div class="Loader-background" *ngIf="loader">
  <div class="indicator">
    <svg width="24px" height="20px">
      <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
      <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
    </svg>
  </div>
</div>
<div class="doctors-list" *ngIf="!loader">
  <div *ngFor="let item of paginatedAppointments">
    <img src="images/doctorImage.png" alt="">
    <h3>{{ item.patient?.name || 'Unknown' }}</h3>
    <p style="    margin: 0.25rem 0;
    font-size: 0.95rem;
    color: #555;">{{item.patient?.gender}}</p>

    <button (click)="goToDetails(item.appointment.id!)">View appointment details</button>
  </div>



</div>
















<div class="pagination" *ngIf="totalPages > 1">
  <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1">
    {{ i + 1 }}
  </button>
</div>


<p class="entry-count" *ngIf="totalPages > 1">
  Showing {{ paginatedAppointments.length }} out of {{ filteredAppointments.length }} entries
</p>