<app-auth-side-bar><ng-content></ng-content></app-auth-side-bar>
<div class="layout-page">
  <app-auth-header></app-auth-header>
  <!-- Scrollable Content -->
  <main class="content-wrapper">
    <div class="container-box">
      <section class="header-section">
        <h1 class="content-header-h1">E-Services</h1>
      </section>

      <nav class="breadcrumb">
        <span class="breadcrumb-link">Homepage</span>
        <img src="/assets/layout/Vector.svg" alt="›" class="breadcrumb-separator" />
        <span class="breadcrumb-current" aria-current="page">E-Services</span>
      </nav>

      <!-- Your page content goes here -->
      <section class="page-content">
        <h2>Rest of the content here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          euismod, urna eu tincidunt consectetur, nisi nisl aliquam nunc, a
          ultricies urna enim nec justo.
        </p>
        <!-- more content... -->
        <app-auth-footer></app-auth-footer>

      </section>

    </div>

  </main>

  <router-outlet></router-outlet>

</div>