.container {
  max-width: 800px;
  font-family: "Segoe UI", sans-serif;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}



.success {
  display: block;
  color: green;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

.error {
  color: red;
  display: block;
  margin-top: 10px;
}

.page-title {
  font-size: 28px;
  margin-bottom: 22px;
}

.breadcrumb {
  font-size: 14px;
  color: #444;
}

.breadcrumb a {
  text-decoration: none;
  margin-right: 4px;
}

.greenWord {
  color: #2aa198;
  margin-right: 4px;
  font-size: 14px;
}

.line {
    width: 100%;
    background-color: #4b9c8e;
    height: 1px;
    margin-bottom: 10px;
}



.test {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.profile-row > div {
  width: calc(50% - 30px);
}

.form-group {
  display: flex;
  align-items: center;
  position: relative;
}

.profile-icon {
  width: 60px;
  height: 60px;
  background-color:#4b9c8e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 5px;
}


.profile-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.profile-input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

.with-icon {
  padding-right: 40px;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  z-index: 2;
  cursor: pointer;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-size: 0.8em;
  display: block;
  width: 100%;
}

.btn {
  background-color:#4b9c8e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  margin-right: 0;
  align-self: flex-start;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 750px) {
  .profile-row > div {
    width: 100%;
  }
}

.Loader-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
}

.indicator {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}

.indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.indicator svg polyline#back {
  stroke: rgba(59, 211, 171, 0.3);
}

.indicator svg polyline#front {
  stroke: #3bd3ab;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}

@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
