<div class="clinic-list">
    <h1>List of Clinics</h1>
    <div class="line"></div>
    <button class="add-clinic-btn" routerLink="/admin/add-clinic">Add Clinic</button>
    <span class="error" *ngIf="error">{{error}}</span>
    <span class="success" *ngIf="success">{{success}}</span>
    <div class="Loader-background" *ngIf="loader">
        <div class="indicator">
            <svg width="24px" height="20px">
                <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
        </div>
    </div>
    <table *ngIf="!error && !loader">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 50%;">
            <col style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clinic of clinics, let index=index">
                <td>{{(currentPage - 1) * pageSize + index + 1}}</td>
                <td>{{clinic.name}}</td>
                <td class="action-buttons">
                    <div class="tooltip edit-btn" (click)="editClinic(clinic.id)">
                        <a><img src="edit.png" alt="Edit"></a>
                        <span class="tooltip-text">Edit</span>
                    </div>
                    <div class="tooltip delete-btn" (click)="deleteClinic(clinic.id)">
                        <a><img src="trash.png" alt="Delete"></a>
                        <span class="tooltip-text">Delete</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [totalItems]="totalClinics" [itemsPerPage]="pageSize" [currentPage]="currentPage"
        (pageChanged)="goToPage($event)" *ngIf="!error && !loader">
    </app-pagination>
</div>