<app-header></app-header>
<!-- clinc Section -->
<div class="clinc-section">
  <div class="clinc-text">
    <h1 class="clinic-name">Al-Amal Medical Clinics</h1>
    <p class="txt1">We provide the best healthcare</p>
    <p class="txt2">
      We are here to care for your health through a specialized medical team and comprehensive care services
      aimed at your comfort and healing every step of the way
    </p>
  </div>
</div>


<!-- Services Section -->
<section class="services-section">
  <h2>Our Clinics And Services</h2>
  <p class="subtitle">Our Clinics And Services Provide Comprehensive And Exceptional Healthcare Using The Latest<br>
    Technologies, Meeting The Needs Of All Patients Across Various Medical Specialties</p>

  <div class="services-container">
    <div class="service-card">
      <div class="icon">
        <img src="/assets/tooth.png" alt="Dental Icon" style="color: white;">
      </div>
      <h3>Dental Clinic</h3>
      <p>The dental clinic provides oral and dental care services, such as cleaning, fillings, and treatment of cavities
        and gum problems</p>
    </div>

    <div class="service-card">
      <div class="icon">
        <img src="/assets/blood-donation.png" alt="Blood Bank Icon">
      </div>
      <h3>Pediatrics Clinic</h3>
      <p>Our pediatrics clinic offers comprehensive healthcare services for infants, and children, , ensuring
        their growth, development, and overall well-being.

      </p>
    </div>

    <div class="service-card">
      <div class="icon">
        <img src="/assets/therapy.png" alt="Therapy Icon">
      </div>
      <h3>Physical Therapy</h3>
      <p>Physical therapy helps improve mobility, relieve pain, and restore physical function after injuries or
        surgeries</p>
    </div>

    <div class="service-card">
      <div class="icon">
        <img src="/assets/maternity.png" alt="Maternity Icon">
      </div>
      <h3>Maternity Center</h3>
      <p>Maternity centers provide comprehensive and safe medical care for both mother and baby before, during, and
        after childbirth</p>
    </div>
  </div>
</section>

<!-- Join Us Section -->
<section class="join-us">
  <h2>Join Us Now</h2>
  <div class="join-content">
    <div class="join-text">
      <h3>The Future Starts Now</h3>
      <p>Join Us As A Doctor To Make A Real Difference In People’s Lives. Work With A Passionate Team. And Grow Your
        Career — Don’t Wait, Apply Now And Be The Change!</p>
      <button class="join-btn" routerLink="registration">Join Now</button>
    </div>
    <div class="join-image">
      <img src="/assets/doctors.png" alt="Team of Doctors" class="test">
    </div>
  </div>
</section>
<app-footer></app-footer>